@model WebStoreAssignment2.Models.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cartype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cartype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarPhoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Buy", "Buy", new { id = Model.Carid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
