@model IEnumerable<WebStoreAssignment2.Models.Electronics>

@{
    ViewBag.Title = "Index";
}

<h2>Electronic</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.electronicPicture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (item.electronicPicture != null)
            {
                <img src="~/Content/Images/@item.electronicPicture " class="thumb" />
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Electronicsid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Electronicsid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Electronicsid })
        </td>
    </tr>
}

</table>
